@inherits LayoutComponentBase
@inject NavigationManager NavigationManager



@code {
    private bool ShouldShowNav => !HideNavPages.Contains(CurrentPage);

    private string CurrentPage => NavigationManager.Uri.Replace(NavigationManager.BaseUri, "/").TrimEnd('/');

    private readonly HashSet<string> HideNavPages = new()
    {
        "register",   // page path without leading slash
        "login"       // optionally hide for login too
    };
}
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
   @*      <div class="top-row px-4">
            <NavLink href="/summary" class="nav-link">App Summary</NavLink>

        </div>
 *@
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
 @* <style>
     .page {
         background: linear-gradient(117deg, #E0B1CB, #231942);
     }
 </style> *@
@* <script>
    [JSInvokable]
    public static async Task TriggerManualCapture()
    {
        // Find the running instance of the Activity Tracker Service
        var trackerService = ActivityTrackerService.Instance;

        if (trackerService != null) {
            // 1. Call the logic you wanted to execute.
            await trackerService.CaptureAndSendAsync();
        }
        else {
            // Handle case where the service hasn't started yet.
            Console.WriteLine("Error: ActivityTrackerService instance not found to trigger manual capture.");
        }
    }

</script> *@